<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signin or Signup!</title>
    <!-- load bootstrap 3.0.2-->
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" integrity="sha384-eumbg33EfHRpbzLIm0lGs0JresLNj7c+5beuRW4d11/vF3Wv3YYmuudfOwMsCmp5" crossorigin="anonymous">
    <!-- load fontawesome 4.0.3 -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-UMpQFQdby6sZ3T16Qz0uq+QsAA7AhfgfMhkZdFOjY8D5kfgRaU2RKE6wHNEo7062" crossorigin="anonymous">
    <style>
      body{
          padding-top: 80px;
          background-color: #ebc8b2;
      }
      #log{
        background-color: #000080;
      }
      #log1{
        background-color: #000080;
        img {
          width: auto;
          height: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div class ="jumbotron text-center">
          <img src="/assets/logo.png">
          <br>
          <br>
          <a href="/signin" class="btn btn-default"> <span class = "fa fa-user" id="log"></span>Local Sign in </a>
          <a href="/signup" class="btn btn-default"> <span class = "fa fa-user" id="log1"></span>Local Sign up </a>
        </div>
    </div>
  </body>
</html>
